.member-detail {
    display: flex;
}

.member-detail  > .col-md-6 {
    padding-left: 30px;
}

.member-img {
    max-height: 350px;
    max-width: 350px;
}

.linkedin-logo {
    width: 52px;
    height: 52px;
}

.facebook-logo {
    width: 30px;
    height: 30px;
}

.language-bar {
    width: 20%;
}
