.navbar-wrapper {
    background-color: transparent;
    font-size: 16px;
    -webkit-font-smoothing: antialiased;
    background: rgba(34,34,51,.9);
    position: fixed!important;
    width: 100%;
    z-index: 100;
    top: 0;
}

.nav-item {
    padding-left: 10px;
    padding-right: 10px;
}

.nav-item > a {
    position: relative;
    letter-spacing: 1px;
    color: rgb(255,255,255,.8);
    padding: 16px 0;
    border-bottom: 3px solid transparent;
    transition: border-bottom 1s,transform 1s ease-out;
}

.focus:hover {
    border-bottom: 3px solid rgb(0,193,222,.8);
    color: rgb(0,193,222,.8);
}

.navbar-list {
    margin-left: 20px;
}

.fixed {
    background: rgba(34,34,51,.7);
    -moz-transition: all .1s ease-in;
    /* WebKit */
    -webkit-transition: all .1s ease-in;
    /* Opera */
    -o-transition: all .1s ease-in;
    /* Standard */
    transition: all .1s ease-in;
}
