.carousel-inner {
    height: 600px;
}

.landing-body {
    padding-top: 20px;
}

.menu-container {
    display: flex;
}

.menu-item {
    margin: auto;
}

.menu-item-text {
    color: gray;
    text-align: center;
}


.carousel.fade {
     opacity: 1;
}
.carousel.fade .carousel-item {
    transition: opacity ease-out .7s;
    left: 0;
    opacity: 0; /* hide all slides */
    top: 0;
    position: absolute;
    width: 100%;
    display: block;
}
.carousel.fade .carousel-item:first-child {
    top: auto;
    opacity: 1; /* show first slide */
    position: relative;
}
.carousel.fade .carousel-item.active {
    opacity: 1;
}
